/*Fontes:Bahnschrift SemiLight*/

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-black: #121214;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #323238;

  --vt-c-texts: #E1E1E6;
  --vt-c-texts-cancel: #b30000be;

  --vt-c-divider-light-1: #00875F;
  --vt-c-divider-light-2: #C4C4CC;
  --vt-c-divider-light-3: #00b37e;

  --vt-c-text-light-1: var(--vt-c-texts);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-light-1);
  --color-button-1: var(--vt-c-divider-light-1);
  --color-btn-hover-1: var(--vt-c-divider-light-3);
  --color-btn-cancel: var(--vt-c-texts-cancel);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

body {
  padding: 0;
  margin: 0;
  min-height: 10vh;
  color: var(--color-text) !important;
  background: var(--color-background) !important;
  font-family:Roboto;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}