
.content {
    width: 100%;
    max-width: 428px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}
.container-form{
    height: 350px;
}
.header{
    margin-top: 25%;
    text-align: center;
}   
.header h1 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0.5rem;
}
.header p {
    font-size: 14px;
    color: #b0b0b0;
}
.form-header {
    margin-bottom: 25px;
    text-align: center;
}
.form-header p {
    font-size: 20px; 
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}
.footer {
    text-align: center;
    margin-top: 25%;
}
.footer p {
    margin-bottom: 5px;
}
.btnBack{
    background-color: transparent;
    color: #00875F;
    border: 1px solid #00875F;
}
.btnBack{
    background-color: transparent;
    color: #00875F;
    border: 1px solid #00875F;
}

@media (max-height: 740px) {
    .footer {
        margin-top: 5%;
    }
}